flows.json
[{"id":"202a2eb.52186d2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"47d144a5.c1525c","type":"rpi-gpio out","z":"202a2eb.52186d2","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":540,"y":200,"wires":[]},{"id":"fd88133f.7b923","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":160,"wires":[["47d144a5.c1525c"]]},{"id":"c9f386d0.537738","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":240,"wires":[["47d144a5.c1525c"]]},{"id":"5120efcf.dc093","type":"rpi-gpio out","z":"202a2eb.52186d2","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":540,"y":360,"wires":[]},{"id":"6a84a4d7.b0813c","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":320,"wires":[["5120efcf.dc093"]]},{"id":"f803a187.57eb","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":400,"wires":[["5120efcf.dc093"]]},{"id":"f3db06c2.c4bac8","type":"rpi-gpio out","z":"202a2eb.52186d2","name":"","pin":"38","set":"","level":"0","freq":"","out":"out","x":540,"y":520,"wires":[]},{"id":"5b19daa2.27d684","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":480,"wires":[["f3db06c2.c4bac8"]]},{"id":"d535b5cc.937a18","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[["f3db06c2.c4bac8"]]},{"id":"bf44969b.e01358","type":"rpi-gpio out","z":"202a2eb.52186d2","name":"","pin":"35","set":"","level":"0","freq":"","out":"out","x":540,"y":680,"wires":[]},{"id":"a48f6279.46034","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":640,"wires":[["bf44969b.e01358"]]},{"id":"bdabc21.16af54","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":720,"wires":[["bf44969b.e01358"]]},{"id":"a403ee17.08cbd","type":"rpi-gpio out","z":"202a2eb.52186d2","name":"","pin":"36","set":"","level":"0","freq":"","out":"out","x":1040,"y":200,"wires":[]},{"id":"a252661b.747568","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":160,"wires":[["a403ee17.08cbd"]]},{"id":"5b5180ba.a4c5e","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":240,"wires":[["a403ee17.08cbd"]]},{"id":"7a9cffe.4d01c","type":"rpi-gpio out","z":"202a2eb.52186d2","name":"","pin":"33","set":"","level":"0","freq":"","out":"out","x":1040,"y":380,"wires":[]},{"id":"51f8481a.ae59f8","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":340,"wires":[["7a9cffe.4d01c"]]},{"id":"b075afcc.97907","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":420,"wires":[["7a9cffe.4d01c"]]},{"id":"b4f07d6.79d2c8","type":"rpi-gpio out","z":"202a2eb.52186d2","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":1040,"y":560,"wires":[]},{"id":"3683a71c.3c2188","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":520,"wires":[["b4f07d6.79d2c8"]]},{"id":"c5f6c1f0.af08e","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":600,"wires":[["b4f07d6.79d2c8"]]},{"id":"e6b6322b.9fa46","type":"rpi-gpio out","z":"202a2eb.52186d2","name":"","pin":"32","set":"","level":"0","freq":"","out":"out","x":1040,"y":720,"wires":[]},{"id":"2a29e613.a7deba","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":680,"wires":[["e6b6322b.9fa46"]]},{"id":"9e94b8a4.7780f8","type":"inject","z":"202a2eb.52186d2","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":760,"wires":[["e6b6322b.9fa46"]]}]